{% load static %}

<html>
 <head>
  <link href="{% static 'login/style.css' %}" rel="stylesheet"/>
  <link href="{% static 'https://fonts.googleapis.com/css?family=Ubuntu' %}" rel="stylesheet"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{% static 'path/to/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <title>
  Appointment Scheduler
  </title>
 </head>
 <body>
  <div class="main">
   <p align="center" class="sign">
    Create Account
   </p>
   <form class="form1" method="POST">
     {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red;">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
     {% csrf_token %}
    <input align="center" class="un" placeholder="Username" name="username" type="text"/>
    <input align="center" class="un" placeholder="email" name="email" type="email"/>
    <input align="center" class="pass" placeholder="Password" name="password" type="password"/>
    <button align="center" class="submit" type="submit">
     Register
    </button>
    <center>
     <a href="login">
    Already have an account? Login
     </a>
     </center>
    </form>
  </div>
 </body>
</html>
